<% wrap_layout :govuk_template do %>

  <% content_for :page_title do %>HMRC Tax Platform<% end %>

  <% content_for :head do %>
    <%= partial "template-head" %>
  <% end %>

  <% content_for :body_classes do %><%= page_classes %> <%=  current_page.data.body_classes %> <% end %>

  <% content_for :after_header do %>
    <%= partial "template-beta-banner" %>
  <% end %>

    <main id="content" class="group">
      <%= partial "template-service-info" %>

      <%= yield %>

      <% if current_page.data.hide_feedback != true do %>
      <%= partial "error_feedback" %>
      <% end %>
    </main>

  <% content_for :footer_top do %>
    <%= partial "template-footer" %>
  <% end %>

  <% content_for :footer_support_links do %>
    <%= partial "template-footer-support-links" %>
  <% end %>

  <% content_for :body_end do %>
    <%= partial "scripts-body" %>
  <% end %>
<% end %>