<% wrap_layout :govuk_template do %>

  <% content_for :body_classes do %>v1<% end %>

  <% content_for :page_title do %>Register as a waste carrier - GOV.UK<% end %>

  <% content_for :head do %>

  <!--[if gt IE 8]><!--><link href="<%= asset_path(:css, "/stylesheets/base.css") %>" rel="stylesheet" type="text/css" /><!--<![endif]-->
  <!--[if IE 6]><link href="<%= asset_path(:css, "/stylesheets/base-ie6.css") %>" rel="stylesheet" type="text/css" /><![endif]-->
  <!--[if IE 7]><link href="<%= asset_path(:css, "/stylesheets/base-ie7.css") %>" rel="stylesheet" type="text/css" /><![endif]-->
  <!--[if IE 8]><link href="<%= asset_path(:css, "/stylesheets/base-ie8.css") %>" rel="stylesheet" type="text/css" /><![endif]-->

  <script src="<%= asset_path(:js, "/javascripts/jquery.min.js") %>"></script>
  <script src="<%= asset_path(:js, "/javascripts/prototype.js") %>"></script>

  <% end %>

  <% content_for :after_header do %>
    <%= partial "partials/template-beta-banner" %>
  <% end %>

  <main class="main gov-uk">

  <div class="grid-wrapper">
    <div class="grid">
      <div class="inner-block">
        <h1>Register as a waste carrier</h1>
        <h2><%= current_page.data.title %></h2>
        <%= yield %>
      </div>
    </div>
  </div>

  </main>

<% end %>